.ca-menu1
{
 padding:0;
  -webkit-transition: all 200ms linear;
    -moz-transition: all 200ms linear;
    -o-transition: all 200ms linear;
    -ms-transition: all 200ms linear; 
}

.ca-menu1 li{
   -webkit-transition: all 200ms linear;
    -moz-transition: all 200ms linear;
    -o-transition: all 200ms linear;
    -ms-transition: all 200ms linear; 
}

.ca-menu1 li:hover{
    background-color: #FFF;  
    transform: scale(1.1); 
     -webkit-transition: all 200ms linear;
    -moz-transition: all 200ms linear;
    -o-transition: all 200ms linear;
    -ms-transition: all 200ms linear; 
}

li:hover .ca-main1{
    color: #ccff00;
    animation: smallToBig 300ms ease;
    -webkit-transition: all 200ms linear;
    -moz-transition: all 200ms linear;
    -o-transition: all 200ms linear;
    -ms-transition: all 200ms linear;
    transition: all 200ms linear;
}
